@font-face {
  font-family: 'tatianactt';
  src: url(Шрифты/tatianactt.ttf);
}
html::-webkit-scrollbar{
  width:0;
}
html{
  scroll-behavior: smooth;
}

.placeForm{
  font-family: 'tatianactt';
}
.map-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.backToStart{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}

.map {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.block{
  position: absolute;
  top: 85px;
  z-index: 2;
}
.addPlace{
  margin-left: 85%;
  position: absolute;
  z-index: 2;
  margin-top: 20px;
}
.addPlaceHover{
  margin-left: 85%;
  margin-top: 41px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: opacity .5s ease;
  cursor: pointer;
}
.addPlaceHover:hover{
  opacity: 1;
}

.custom-popup .leaflet-popup-content-wrapper{
  background: url(img/placeWindow.png);
  width: 617px;
  height: 697px;
}

.user-popup .leaflet-popup-content-wrapper{
  background: url(img/userWindow.png);
    border-radius: 0;
    width: 749px;
    height: 609px;
    z-index: 1000;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    z-index: 1000;
}


.leaflet-popup-tip-container {
    left: 100%;
    top: 52%;
    .leaflet-popup-tip {
        background-color: transparent;
        width: 0;
        height: 0;
        margin: 0 12 0 0px;
        border-style: solid;
        border-width: 8.5px 8px 8.5px 0;
        opacity: 0;
        box-shadow: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
.leaflet-popup-close-button {
    color: rgb(27, 21, 187); 
  }

.openFilter{
  z-index: 2;
  position: absolute;
  margin-left: 85.5%;
  margin-top: 120px;
}
.openFilterHover {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  margin-left: 85.5%;
  margin-top: 120px;
}
.openFilterHover:hover {
  opacity: 1;
}

/* Модальное окно */
#modal-block { 
  background: url(img/modalWindow.png);
  color: #FFE864;
  position: absolute;
  top:0;
  left:-100vw;
  width:300px;
  height: 100vh;
  transition: all .5s;
  font-family: 'tatianactt';
  z-index: 9;

}
#modal-block:target{
  align-items:center;
  justify-content:center;
  flex-direction: column;
  left:0;
}
.colorPanel{
  position: absolute;
  z-index: 2;
  margin-top: 77%;
  margin-left: 28%;
  height: 240px;
}
.checkbox-image{
  margin-left: 30px;
}
.radioButton{
  position: absolute;
  z-index: -1;
  margin-top: 77%;
  margin-left: 19%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.cityFilter{
  opacity: 0;
  cursor: pointer;
  margin-top: 78%;
  margin-left: 20%;
}
.radioButton1{
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  margin-left: 19%;
  margin-top: 7%;
}
.cityFilter1{
  margin-top: 8%;
  margin-left: 20%;
  opacity: 0;
  cursor: pointer;
}
.close-block{
  display: flex;
  position: absolute;
  top: 1%;
  right: 1%;
  padding: .5em;
  box-sizing: border-box;
}
.closeWindow{
  width: 75%;
  height: 75%;
}
.vysotskyWindow{
  margin-left: 95px;
  margin-top: 45px;
  width: 125%;
}
.popupWindow{
  margin-left: 95px;
  margin-top: 45px;
}
.sightName{
  position: absolute;
  text-align: center;
  font-family: 'tatianactt';
  color: white;
  margin-top: 30px;
  margin-left: 85px;
  font-size: 26px;
  margin-right: 95px;
}
.sightName1{
  position: absolute;
  text-align: center;
  font-family: 'tatianactt';
  color: white;
  margin-top: 40px;
  margin-left: 205px;
  font-size: 26px;
  margin-right: 95px;
}
.sightLink{
  text-decoration: none;
}
.sightInf{
  position: absolute;
  text-align: center;
  font-family: 'tatianactt';
  font-size: 18px;
  color: #296d4d;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 75px;
}
.addPhoto{
  position: absolute;
  z-index: 5;
  margin-top: 180px;
}