@font-face {
  font-family: 'tatianactt';
  src: url(Шрифты/tatianactt.ttf);
}
html::-webkit-scrollbar{
  width:0;
}
html{
  scroll-behavior: smooth;
}

.backImg{
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  }

.startpageUp {
  z-index: 1;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  }
.goToRegisterPageLink{
  position: absolute;
  z-index: 3;
  margin-left: 1140px;
  margin-top: 300px;
}
.aboutUsButton {
  z-index: 2;
  position: absolute;
  margin-left: 5%;
  margin-top: 9%;
  width: 28%;
  height: 19%;
}
.aboutUsHover{
  z-index: 3;
  margin-left: 5%;
  margin-top: 9%;
  width: 28%;
  height: 19%;
  opacity: 0.0;
  position: absolute;
  transition: opacity .3s ease;
}
.aboutUsHover:hover {
  z-index: 3;
  opacity: 1;
}
.openRegLink{
  width: 13%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 54%;
}
.openRegLinkHover{
  z-index: 3;
  position: absolute;
  width: 13%;
  top: 50.1%;
  left: 54%;
  opacity: 0;
  transition: opacity .3s ease;
}
.openRegLinkHover:hover{
  opacity: 1;
}
.openMapLink{
  z-index: 2;
  position: absolute;
  top: 67%;
  left: 58%;
  width: 31%;
  height: 23%;
}
.openMapLinkHover:hover{
  opacity: 1;
}
.openMapLinkHover{
  z-index: 3;
  position: absolute;
  top: 67%;
  left: 58%;
  opacity: 0;
  transition: opacity .3s ease;
  width: 31%;
  height: 23%;
}
.startpageCenter{
  z-index: 2;
  position: relative;
  margin: -8px;
}
.aboutUsPage{
  margin-bottom: -4px;
}
.startPageFirstBottom{
  margin-top: -23px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  background-size: 100%, 100%;
}
.infText{
  position: absolute;
  margin-left: 139px;
  margin-top: 220px;
  margin-right: 549px;
  z-index: 10;
  font-size: 22px;
  font-family: 'tatianactt';
  color:#1CC278;
}
.infText2{
  position: absolute;
  z-index: 10;
  margin-left: 139px;
  margin-top: 540px;
  margin-right: 549px;
  font-family: 'tatianactt';
  font-size: 22px;
  color: #23FF9E;
}
