html::-webkit-scrollbar{
  width:0;
}
html{
  scroll-behavior: smooth;
}
.backImg{
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  }

.startpageUp {
  z-index: 1;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  }
.goToRegisterPageLink{
  position: absolute;
  z-index: 3;
  margin-left: 1140px;
  margin-top: 300px;
}
.aboutUsButton {
  z-index: 2;
  position: absolute;
  margin-left: 5%;
  margin-top: 6%;
  width: 23%;
  height: 15%;
}
.aboutUsHover{
  z-index: 3;
  margin-left: 5%;
  margin-top: 6%;
  width: 23%;
  height: 15%;
  opacity: 0.0;
  position: absolute;
  transition: opacity .3s ease;
}
.aboutUsHover:hover {
  z-index: 3;
  opacity: 1;
}

.contactUsButton{
  z-index: 2;
  position: absolute;
  margin-left: 5%;
  margin-top: 13%;
  width: 23%;
  height: 15%;
}
.contactUsHover {
  z-index: 3;
  position: absolute;
  margin-left: 5%;
  margin-top: 13%;
  width: 23%;
  height: 15%;
  opacity: 0;
  transition: opacity .3s ease;
}
 .contactUsHover:hover{
   z-index: 3;
   opacity: 1;
 }
.openMapLink{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  padding: 10px;
  gap: 20px;
  width: 31%;
  height: 23%;
  top: 69%;
  left: 55%;
}
.openMapLinkHover{
  z-index: 3;
  position: absolute;
  top: 69%;
  left: 55%;
  opacity: 0;
  transition: opacity .3s ease;
  width: 31%;
  height: 23%;
}
.openMapLinkHover:hover {
  z-index: 3;
  opacity: 1;
}
.startpageCenter{
  z-index: 2;
  position: relative;
  margin: -8px;
}
.inf{
  position: absolute;
  margin-top: 750px;
  margin-left: 100px;
}
.startPageFirstBottom{
  margin: -8px;
  background-size: 100%, 100%;
}
.bottomPicture{
  z-index: 2;
  position: absolute;
  margin: -8px;
  background-size: 100%, 100%;
}
.sendButton{
  opacity: 1;
  z-index: 2;
  position: absolute;
  margin-left: 1047px;
  margin-top: 267px;
}
.sendButtonHover{
  position: absolute;
  opacity: 0;
  z-index: 2;
  margin-left: 1047px;
  margin-top: 267px;
  transition: opacity .3s ease;
}
.sendButton, .sendButtonHover:hover{
  opacity: 1;
}

